@font-face {
    font-family: play;
    src: url(PlayfairDisplay-Regular.woff);
}

@font-face {
    font-family: serrat;
    src: url(Montserrat-Light.woff);
}

@font-face {
    font-family: sand;
    src: url(Quicksand-Light.woff);
}

@font-face {
    font-family: enth;
    src: url(Enthralling.woff);
}

body {
    margin: 0;
    padding: 0;
    background-color:rgba(250, 237, 237, 0.918);
    scroll-behavior: smooth;
    overflow-x: hidden;
}



/* logo TC principal da primeira página */
#main {
    position: absolute;
    top: 170px;
    left: 650px;
    line-height: 5px;
    align-items: center;
    font-size: 88px;
  }  

#main h1 {
    font-family: 'enth', sans-serif; 
    font-size: 65px;
    color: #18274b;
}


/* parte da logo ADVOCACIA do TC */
#main-second {
    position: absolute;
    top: 262px;
    left: 770px;
    line-height: 5px;
    align-items: center;
}

#main-second {
   font-family: serrat;
   font-size: 25px;
   align-items: center;
   letter-spacing: 18px;
   color: darkgoldenrod;
}

#main hr {
  height: 3px;
  background-color: rgba(185, 145, 35, 0.979);
  position: relative;
  border-top: 0;
  
}


/* sequência dos icones */
.icones {
    display: flex;
    justify-content: flex-start;  
    align-items: center;             
    flex-wrap: wrap;  
    gap: 50px;
}


/* detalhamento sobre as imagens do icones*/
.icones img {
    height: 140px;
    top: 430px;      
    position: relative;
    cursor: pointer;
    border-radius: 6%;
    box-shadow: 6px 6px 6px 2px rgba(0, 0, 0, 0.171);
    left: 260px;
}

.icones p {
    font-size: 17px;  
   color: #152039;
    margin: 0;  
    top: 435px;
    position: relative;
    left: 180px;
    font-family: serrat;
}

/* animação dos icones */
.icones :hover {
    transform: scale(1.04);
    transition: .6s;
}


/* centralizando o texto abaixo do icone */
#conserto-posicao {
    left: 275px;
}

/* continuando a centralização */
#conserto-second {
    left: 285px;
}

#conserto-unico {
    left: 258px;
}

#info {
    position: relative;
    top: 480px;
    overflow: hidden;
    text-align: center;
}

#info h1{
    font-family: enth;
    color: #152039;
    font-size: 38px;
    right: 5px;
    position: relative;
}

#info h3 {
    position: relative;
    font-family: sand;
    font-size: 23px;
    overflow-x: hidden;
    padding-right: 220px;
    left: 120px;
}

#info h2 {
    font-family: sand;
    color: rgba(185, 145, 35, 0.979);
    align-items: center;
}


/* imagem dos advogados */
.advogados img {
    height: 525px;
    padding: 0%;
    margin: 0%;
    border-radius: 10px;
}

.advogados {
    position: relative;
    top: 530px;
    left: 200px;
}

/* texto na imagem MARCELO */

.conteudo {
    width: 18.7%;
    height: 99%;
    position: absolute;
    background: #0d19357e;
    top: 1px;
    opacity: 0;
    transition: 0.6s;
}

.conteudo:hover {
    opacity: 1;

}

.conteudo h1 {
    text-align: center;
    font-family: sand, sans-serif;
    top: 260px;
    position: relative;
    color: rgba(255, 246, 246, 0.979);

}

.conteudo p {
    font-family: sand, sans-serif;
    text-align: center;
    top: 240px;
    position: relative;
    font-size: 15px;
    color: rgba(255, 246, 246, 0.979);
}

/* texto na imagem OLGA */

.conteudo2 {
    width: 19.0%;
    height: 99%;
    position: absolute;
    background: #0d19357e;
    top: 1px;
    opacity: 0;
    transition: 0.6s;
    left: 346px;
    right: 4px;
}

.conteudo2:hover {
    opacity: 1;
    

}

.conteudo2 h1 {
    text-align: center;
    font-family: sand, sans-serif;
    top: 260px;
    position: relative;
    color: rgba(255, 246, 246, 0.979);
}

.conteudo2 p {
    font-family: sand, sans-serif;
    text-align: center;
    top: 240px;
    position: relative;
    font-size: 15px;
    color: rgba(255, 246, 246, 0.979);
}

/* texto na imagem VICENTE */

.conteudo3 {
    width: 19.0%;
    height: 99%;
    position: absolute;
    background: #0d19357e;
    top: 1px;
    opacity: 0;
    transition: 0.6s;
    left: 700px;
    right: 4px;
}

.conteudo3:hover {
    opacity: 1;

}

.conteudo3 h1 {
    text-align: center;
    font-family: sand, sans-serif;
    top: 260px;
    position: relative;
    color: rgba(255, 246, 246, 0.979);
}

.conteudo3 p {
    font-family: sand, sans-serif;
    text-align: center;
    top: 240px;
    position: relative;
    font-size: 13px;
    color: rgba(255, 246, 246, 0.979);
}

/* texto na imagem MAISA*/
.conteudo4 {
    width: 18.7%;
    height: 99%;
    position: absolute;
    background: #0d19357e;
    top: 1px;
    opacity: 0;
    transition: 0.6s;
    left: 1060px;
    right: 4px;
}

.conteudo4:hover {
    opacity: 1;

}

.conteudo4 h1 {
    text-align: center;
    font-family: sand, sans-serif;
    top: 260px;
    position: relative;
    color: rgba(255, 246, 246, 0.979);
}

.conteudo4 p {
    font-family: sand, sans-serif;
    text-align: center;
    top: 240px;
    position: relative;
    font-size: 13px;
    color: rgba(255, 246, 246, 0.979);
}

/* ABA DOS CONTATOS */
.icones2 h1{
   position: relative;
   font-family: sand;
   font-size: 38px;
   top: 540px;
   right: 500px;
}


/* POSICIONANDO OS ICONES DE CONTATO*/
.icones2 img {
    height: 65px;
    border-radius: 6%;
    margin: 0%;
    position: relative;
    top: 525px;
    left: 200px;
    }

    /* PARA DIMINUIR O ESPAÇO ENTRE OS ICONES USEI O ID POIS O GAP NO FLEX DIRECTION COLUNM NÃO RESPONDEU*/
#localizacao {
    top: 530px
    }

#email {
    top: 490px;
}

#wpp {
    top: 440px;
}

#link {
    top: 390px;
}

#git {
    top: 340px;
}

/* TEXTO DA PÁGINA DE CONTATO*/
.icones2 p {
    position: relative;
    left: 280px;
    font-family: sand, sans-serif;
    font-size: 19px;
}

/* ORGANIZANDO AS DISTANTE ENTRE AS PALAVRAS*/
#localizacao2 {
    top: 465px;
}

#email2 {
    top: 425px;
}

#wpp2 {
    top: 385px;
}

#link2 {
    top: 325px;
}

#git2 {
    top: 275px;
}




/* ADICIONANDO MAPA DO ESCRITÓRIO*/
.mapa {
    top: 1530px;
    left: 1000px;
    position: absolute;
    height: 460px;
}

/* PEQUENO TEXTO ABAIXO DO MAPA, HORÁRIOS*/
#horario h3{
    font-family: sand;
    top: 260px;
    position: relative;
    font-size: 24px;
    left: 1240px;
}


/* TEXTO - CONTATO*/
#contato {
    left: 200px;
    position: absolute;
    top: 1515px;
    font-size: 20px;
    font-family: sand;
    color: #152039;
}

/* FOTOS DO ESCRITÓRIO*/
#escritorio img {
    top: 290px;
    position: relative;
    left: 200px;
    height: 450px;
    width: auto;
    border-radius: 1%;
}


#texto-final h1 {
    position: relative;
    top: 315px;
    font-family: sand;
    left: 800px;
    font-size: 38px;
}

#texto-final span {
    color: rgba(185, 145, 35, 0.979);
}

#texto-final p {
    text-align: center;
    font-family: sand, sans-serif;
    font-size: 25px;
    color: #172442;
    position: relative;
    overflow: hidden;
    top: 310px; 
    padding-left: 210px;  
    padding-right: 210px;
}
